LLY_GROQ_LLAMA=
LLY_OPEN_ROUTER_DEEPSEEK=
LLY_GEMINI_API_KEY=
LYY_DEEPSEEK=

WUKANG_GROQ_LLAMA=
WUKANG_OPEN_ROUTER_DEEPSEEK=
WUKANG_GEMINI_API_KEY=

WUKANG2_GROQ_LLAMA=
WUKANG2_OPEN_ROUTER_DEEPSEEK=
WUKANG2_GEMINI_API_KEY=

HUIYEE_GROQ_LLAMA=
HUIYEE_OPEN_ROUTER_DEEPSEEK=
HUIYEE_GEMINI_API_KEY=

HUIYEE2_GROQ_LLAMA=
HUIYEE2_OPEN_ROUTER_DEEPSEEK=
HUIYEE2_GEMINI_API_KEY=